 <nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Welcome <br> Thomas Rice<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">NFL <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
         <ul class="dropdown-menu forAnimate" role="menu">
           <li class="divider"></li>
           <li><a href="/NFLalls">All Positions</a></li>
           <li class="divider"></li>
           <li><a href="/NFLQBs">Quarter Backs</a></li>
           <li class="divider"></li>
           <li><a href="/NFLRBs">Running Backs</a></li>
           <li class="divider"></li>
           <li><a href="/NFLWRs">Wide Receiver</a></li>
           <li class="divider"></li>
           <li><a href="/NFLTEs">Tight End</a></li>
           <li class="divider"></li>
           <li><a href="/NFLDefs">Defense</a></li>
           <li class="divider"></li>
           <li><a href="/NFLKickers">Kickers</a></li>
           <br>
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Search for player..">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-search"></span>
               </button>
             </span>
           </div>
         </ul>
       </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">NBA <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
        <ul class="dropdown-menu forAnimate" role="menu">
          <li class="divider"></li>
          <li><a href="/">All Positions</a></li>
          <li class="divider"></li>
          <li><a href="/">Point Guards</a></li>
          <li class="divider"></li>
          <li><a href="/">Shooting Guards</a></li>
          <li class="divider"></li>
          <li><a href="/">Small Fowards</a></li>
          <li class="divider"></li>
          <li><a href="/">Power Forwards</a></li>
          <li class="divider"></li>
          <li><a href="/">Centers</a></li>
          <li class="divider"></li>
          <li><a href="/">Guards</a></li>
          <li class="divider"></li>
          <li><a href="/">Forwards</a></li>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for player..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </ul>
      </li>
        <li role="presentation"><a href="#" data-toggle="modal" data-target="#addWorkoutModal">Add table <br>(for admin only)<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
      </ul>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Fantasy Data..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</nav>
<div style='margin-left:16%; width:50%;' class="tim">
  <table class="table">
    <thead>
      <tr>
        <th>Week</th>
        <th>Position</th>
        <th>Team</th>
        <th>Team_Name</th>
        <th>Player_Name</th>
        <th>Injury_Status</th>
        <th>Type_Of_Injury</th>
        <th>Games_Played</th>
        <th>Spread</th>
        <th>Player_Salary</th>
        <th>Rank_Vs_Pos</th>
        <th>Player_Rank</th>
        <th>OU</th>
        <th>Rating</th>
        <th>Criteria_Score</th>
        <th>FP</th>
      </tr>
    </thead>
    <tbody>
      {{#each fantasydata}}
      <tr>
        <td>{{this.Week}}</td>
        <td>{{this.Position}}</td>
        <td>{{this.Team}}</td>
        <td>{{this.Team_Name}}</td>
        <td>{{this.Player_Name}}</td>
        <td>{{this.Injury_Status}}</td>
        <td>{{this.Type_Of_Injury}}</td>
        <td>{{this.Games_Played}}</td>
        <td>{{this.Spread}}</td>
        <td>{{this.Player_Salary}}</td>
        <td>{{this.Rank_Vs_Pos}}</td>
        <td>{{this.Player_Rank}}</td>
        <td>{{this.OU}}</td>
        <td>{{this.Rating}}</td>
        <td>{{this.Criteria_Score}}</td>
        <td>{{this.FP}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


<!-- <li><a href="/NFL">NFL<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li> -->
