<div class="container ">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title">
            <div class="row">
              <div class="col-md-2">
                <h4><a href="/NFL/QB">Quarter Backs</a></h4>
              </div>

              <div class="col-md-2">
                <h4><a href="/NFL/RB">Running Backs</a></h4>
              </div>

              <div class="col-md-2">
                <h4><a href="/NFL/WR">Wide Receiver</a></h4>
              </div>

              <div class="col-md-2">
                <h4><a href="/NFL/TE">Tight Ends</a></h4>
              </div>

              <div class="col-md-2">
                <h4><a href="/NFL/K">Kickers</a></h4>
              </div>

              <div class="col-md-2">
                <h4><a href="/NFL/Def">Defenses</a></h4>
              </div>
            </div>
          </h3>
      </div>
        <div class="panel-body">
            <div class="table-responsive">
              <div class="row">
                <div class="col-md-12">
                  <div style='width:20%;'class="input-group searchbarsize">
                    <input type="text" class="form-control" placeholder="Search Workouts..">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                  <br>
                </div>
              </div>
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Week</th>
                      <th>Position</th>
                      <th>Team</th>
                      <th>Team_Name</th>
                      <th>Player_Name</th>
                      <th>Injury_Status</th>
                      <th>Type_Of_Injury</th>
                      <th>Games_Played</th>
                      <th>Spread</th>
                      <th>Player_Salary</th>
                      <th>Rank_Vs_Pos</th>
                      <th>Player_Rank</th>
                      <th>OU</th>
                      <th>Rating</th>
                      <th>Criteria_Score</th>
                      <th>FP</th>
                    </tr>
                  </thead>
              <tbody>
                {{#each fantasydataQB}}
                  <tr>
                    <td>{{this.Week}}</td>
                    <td>{{this.Position}}</td>
                    <td>{{this.Team}}</td>
                    <td>{{this.Team_Name}}</td>
                    <td>{{this.Player_Name}}</td>
                    <td>{{this.Injury_Status}}</td>
                    <td>{{this.Type_Of_Injury}}</td>
                    <td>{{this.Games_Played}}</td>
                    <td>{{this.Spread}}</td>
                    <td>{{this.Player_Salary}}</td>
                    <td>{{this.Rank_Vs_Pos}}</td>
                    <td>{{this.Player_Rank}}</td>
                    <td>{{this.OU}}</td>
                    <td>{{this.Rating}}</td>
                    <td>{{this.Criteria_Score}}</td>
                    <td>{{this.FP}}</td>
                  </tr>
                  {{/each}}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <li><a href="/NFL">NFL<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li> -->
<!-- <li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Page 1-1</a></li>
    <li><a href="#">Page 1-2</a></li>
    <li><a href="#">Page 1-3</a></li>
  </ul>
</li> -->
