<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="DFS, Daily fantasy sports, Free DFS help, free daily fantasy sports help, Fanduel, free fanduel help, free fanduel data, free Fanduel NBA help, nba, free daily fantasy sports NBA help, free, DFS help, daily fantasy sports help, fanduel help, fanduel data, Fanduel NBA help, daily fantasy sports NBA help"/>
  <meta name="description" content="We Are Fanduel Daily fantasy Sports Sharks who will provide you with all the most up to date fantasy sports data you will ever need to build your DFS Fanduel NBA lineup!">
  <title>NBA DFS Analytics</title>
      <!-- Latest compiled and minified CSS -->
      <script src="/assets/javascript/appNBA.js"></script>

</head>
<body>
  <div class="container-fluid NBATeamTable">
    <br>
    <br>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Table Legend</button>
    <br>
    <br>
    <input type="text" id="mySearchInput" onkeyup="mySearchFunction()" placeholder="Search for NBA Players" title="Type in a name">
    <br>
    <br>
    <select id='mySelectedInput' onchange='myPositionFunction()'>
      <option value="" disabled selected>Filter by position</option>
      <option value="pg">PG</option>
      <option value="sg">SG</option>
      <option value="sf">SF</option>
      <option value="pf">PF</option>
      <option value="c">C</option>
    </select>
<br><br><br><br>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {{#each fantasyNBADate}}
      <p>Last updated at {{this.date}}</p>
      {{/each}}
    </div>
  </div>
</div> -->

  </div>
  <div id='playerlist' class="container-fluid NBAtables">
    <div class="row nbafantasy">
      <div class="col-md-12" id="nba">

        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <!-- put images here -->
            <table id='myTable' class="table table-bordered tableNbaFantasy">
              <thead>
                <tr style='font-size: 12px;cursor: pointer;'>
                  <th>Player</th>
                  <th></th>
                  <th>H/A</th>
                  <th>Position</th>
                  <th>Team</th>
                  <th>Opp</th>
                  <th>Condition</th>
                  <th>Details</th>
                  <th>ProjMins</th>
                  <th>Salary</th>
                  <th>Useage%</th>
                  <th>PPG/L10</th>
                  <th>PPM</th>
                  <th>OVP</th>
                  <th>ProjTeamScore</th>
                  <th>GameLine</th>
                  <th>ProjectedPts</th>
                  <th>Value</th>
                  <th>SalaryAdjust</th>
                  <th>RecentPerformance</th>
                  <th>PTsVPos</th>
                  <th>CriteriaRanking</th>
                  <th>ProjectedOwnership</th>
                </tr>
              </thead>
              <tbody>
              {{#each fantasyNBA}}
              <tr>
                <td>{{Player}}</td>
                <td></td>
                <td>{{HomeAway}}</td>
                <td>{{Position}}</td>
                <td>{{Team}}</td>
                <td>{{Opp}}</td>
                <td>{{Mycondition}}</td>
                <td>{{details}}</td>
                <td>{{ProjMins}}</td>
                <td>{{Salary}}</td>
                <td>{{Useage}}</td>
                <td>{{PPGL10}}</td>
                <td>{{PPM}}</td>
                <td>{{OVP}}</td>
                <td>{{ProjScore}}</td>
                <td>{{GameLine}}</td>
                <td>{{ProjectedPts}}</td>
                <td>{{Value}}</td>
                <td>{{SalaryAdjust}}</td>
                <td>{{RecPr}}</td>
                <td>{{PTsVPos}}</td>
                <td>{{CriteriaRanking}}</td>
                <td>{{Ownership}}</td>
              </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="suggestedbuttondiv">
      <div class="suggesteddiv">
          <button style='text-align:center;' type="button" class="btn btn-default suggestedbutton">My Suggested NBA Players</button>
      </div>
  </div>
  <div class="suggesteddivshow">
      <div id="sizer">
          <a class='closesuggested' href="#">x</a>
      </div>
      <h4 class='suggestedPlayersh4'>My Suggested Fanduel NBA Players</h4>
      <div class="suggestedDivScroll">
        <ul class='suggestedPlayersNBA'></ul>
      </div>

      <br>
  </div> -->
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Description of each column</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style='background-color: #9bdaf2; height:140px;' class="col-md-2">
            <p>Good to go</p>
          </div>
          <div style='background-color:#45b9e7; height:140px;' class="col-md-2">
            <p>Be Aware</p>
          </div>
          <div style='background-color:#1a93c3; height:140px;' class="col-md-3">
            <p>Be Cautious (I would be weary. Check other categories)</p>
          </div>
          <div style='background-color:#115f7e; color:white; height:140px;' class="col-md-3">
            <p>Stay Away (Really depends on other categories)</p>
          </div>
          <div style='background-color:#0a384a; color:white; height:140px;' class="col-md-2">
            <p>Red Flag(Every other category must be perfect for me to use)</p>
          </div>
          <br>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h3>How I use the table, and what columns I look at.</h3>
            <p>You have to look at everything collectively. The columns I mostly look at are ProjMins, Useage%, OvP, ProjTeamScore, Gameline, SalaryAdjust, RecentPerformance, PtsvsPos, and ProjectedPts and Value. After that I find the best combo of players and throw them in a line. The key to using this table is Trust the Process and HAVE NO BIAS OPINION!</p>
          </div>
          <div class="col-md-12">

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>CriteriaRanking</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: The way I rank players. This is all of the columns collectively put into one column. If you're going to use one column to make a lineup it would be this one</p>
            <br>
            <p>What to look for: 7-6 and 5 are good to go but anything below 5 is a red flag</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>H/A</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: If he is playing Home or Away</p>
            <br>
            <p>What to look for: Preferably Home but not a deal breaker</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>ProjMins</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>Useage%</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: How long a player has control of the ball per possession</p>
            <br>
            <p>What to look for: Anything above 30% (varies based on position) is in the clear. It is ok to go lower if other categories are good</p>
          </div>
          <hr>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>PPG/L10</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: Average fantasy points per game for the last 10 games</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>PPM(Points per Minute)</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: How many fantasy points a player gets per minute</p>
            <br>
            <p>What to look for: Anything above 1.2 is in the clear. It is ok to go lower if other categories are good</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>OVP(Offense Vs Position)</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: How well the opponent defends that specific position </p>
            <br>
            <p>What to look for: Anything above 1.0 is in the clear. It is ok to go lower if other categories are good</p>
          </div>
          <hr>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>ProjTeamScore</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: Projection of the Total team points</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>GameLine</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: Projection of the Total game points</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>ProjectedPts</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: My Projection of points a specific player will score.</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>Value</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: Projected value of a specific player based on projections </p>
            <br>
            <p>What to look for: Try to stay above 5.0 but it is ok to go below if other categories are good</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>SalaryAdjust</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: Their last game salary compared to their current salary </p>
            <br>
            <p>What to look for: Anything 400 and below is in the clear. Above 400 is a red flag. - is equivalent to a 0 which is great</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>RecentPerformance</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: Their last game compared to their average</p>
            <br>
            <p>What to look for: Anything 10 and below is in the clear. Above 10 is a red flag. - is equivalent to a 0 which is great</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p><u>PtsVPos(Points vs Position)</u></p>
          </div>
          <div class="col-md-9">
            <p>Description: Points allowed by the defensive position</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- End Modal -->
<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86407503-2', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript" src="/assets/tablesorter/jquery-latest.js"></script>
<script type="text/javascript" src="/assets/tablesorter/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  {
      $("table").tablesorter();
  }
  setTimeout(function(){
    swal({
      title: "View the Table Legend",
      text: "Please take a chance to look over the table legend. It will help you understand how to use this table.",
      type: "warning",
      confirmButtonText: "Ok, cool"
    });
  }, 10000);
//   setTimeout(function(){
//     swal({
//       title: "Donations are welcome :)",
//       text: "Our goal is to continue to give everybody free data, as this takes a lot of our time any donations are appreciated! Our current paypal is ________",
//       type: "success",
//       confirmButtonText: "Ok, cool"
//     });
// }, 300000);
});
</script>
<script type="text/javascript">
function myPositionFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("mySelectedInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function mySearchFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("mySearchInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

// Handlebars.registerHelper('each_upto', function(ary, max, options) {
//     if(!ary || ary.length == 0)
//         return options.inverse(this);
//
//     var result = [ ];
//     for(var i = 0; i < max && i < ary.length; ++i)
//         result.push(options.fn(ary[i]));
//     return result.join('');
// });
</script>
