<!-- <head> -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="DFS, Daily fantasy sports, Free DFS help, free daily fantasy sports help, Fanduel, free fanduel help, free fanduel data, free Fanduel NFL help, nba, free daily fantasy sports NFL help, free, DFS help, daily fantasy sports help, fanduel help, fanduel data, Fanduel NFL help, daily fantasy sports NFL help"/>
  <meta name="description" content="We Are FanDuel and DraftKings Daily fantasy Sports Analysts! We will provide you with all the most up to date fantasy sports data you will ever need to build your DFS Fanduel/DraftKings NFL lineup!">
  <title>NFL DFS Analytics</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/assets/css/styleNFL.css">
      <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
      <script src="/assets/javascript/appNFL.js"></script>
</head>
<body>
  <nav class="navbar navbar-default colormein">
    <div style='background-color: #edb82a' class="container-fluid">
      <div class="navbar-header">
        <li style='list-style-type:none;' class="navbar-brand doubleNavPage">NFL</li>
        <!-- <a class="navbar-brand doubleNavPage" href="#">NBA</a> -->
      </div>
      <ul class="nav navbar-nav navigate colormein2">
        <li class='doubleNavLists active'><a class='doubleNavListsLink' href="/NBAFanduel">FanDuel Cheat Sheet</a></li>
        <!-- <li class='doubleNavLists'><a class='doubleNavListsLink' href="/NBADraftkings">DraftKings Cheat Sheet</a></li> -->
      </ul>
    </div>
  </nav>
  <div class="container-fluid NBATeamTable">
    <br><br>
    <p style='font-size:38px;'>Click a Position to get started</p>
    <hr>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Table Legend</button>
    <br><br>
    <input type="text" id="mySearchInputNFL" onkeyup="mySearchFunctionNFL()" placeholder="Search for NFL Players" title="Type in a name">
    <br><br>
      <select id='mySelectedInputNFL' name='changePosition' onchange='myPositionFunctionNFL()'>
        <option value="" disabled selected>Filter by position</option>
        <option value="QB">QB</option>
        <option value="RB">RB</option>
        <option value="WR">WR</option>
        <option value="TE">TE</option>
        <option value="K">K</option>
        <option value="Def">Def</option>
      </select>
      <br><br><br>
    <!-- <p style='font-size:30px;'>If it has Low on column name it means Low numbers are best</p>
    <hr>
    <p style='font-size:30px;'>If it has High on column name it means High numbers are best</p>
  <br><br><br><br> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{#each fantasyNFLDate}}
        <p>Last updated on {{this.updated}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>
  <div id='playerlist' class="container-fluid NBAtables">
    <div class="row nbafantasy">
      <div class="col-md-12" id="nba">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table style='bborder-color: black;' id='NBAcheatsheet' class="table table-bordered tableNbaFantasy">
              <thead>
                <tr style='font-size: 12px;cursor: pointer;'>
                  <th>Player</th>
                  <th></th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team</th>
                  <th>Opponent</th>
                  <th>Injury_Status</th>
                  <th>RankingsVsPosition</th>
                  <th>TotalOpportunities</th>
                  <th>PlayersOffenseVsPosition</th>
                  <th>WinChanceVsOpponent%</th>
                  <th>Over/Under</th>
                  <th>CriteriaRanking</th>
                  <th>PointsPerAttempt</th>
                  <th>SnapCount</th>
                  <th>SalaryChange</th>
                  <th>RecentPerformance</th>
                  <th>ProjectedOwnership</th>
                </tr>
              </thead>
              <tbody>
              {{#each fantasyNFL}}
              <tr>
                <td>{{Player}}</td>
                <td></td>
                <td>{{Sal}}</td>
                <td>{{POS}}</td>
                <td>{{Team}}</td>
                <td>{{Opp}}</td>
                <td>{{Injury_Status}}</td>
                <td>{{RvP}}</td>
                <td>{{TotalOpp}}</td>
                <td>{{TeamValueVsPos}}</td>
                <td>{{WinVsOpp}}</td>
                <td>{{OU}}</td>
                <td>{{CritRank}}</td>
                <td>{{PPA}}</td>
                <td>{{Snap_Count}}</td>
                <td>{{Sal_Change}}</td>
                <td>{{RecPre}}</td>
                <td>{{Ownership}}</td>
              </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="suggestedbuttondiv">
      <div class="suggesteddiv">
          <button style='text-align:center;' type="button" class="btn btn-default suggestedbutton">My Suggested NFL Players</button>
      </div>
  </div>
  <div class="suggesteddivshow">
      <div id="sizer">
          <a class='closesuggested' href="#">x</a>
      </div>
      <h4 class='suggestedPlayersh4'>My Suggested Fanduel NFL Players</h4>
      <div class="suggestedDivScroll">
        <ul class='suggestedPlayersNBA'></ul>
      </div>
      <br>
  </div> -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Description of each column</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style='background-color: #9bdaf2; height:140px;' class="col-md-2">
            <p>Good to go</p>
          </div>
          <div style='background-color:#45b9e7; height:140px;' class="col-md-2">
            <p>Be Aware</p>
          </div>
          <div style='background-color:#1a93c3; height:140px;' class="col-md-3">
            <p>Be Cautious (I would be weary. Check other categories)</p>
          </div>
          <div style='background-color:#115f7e; color:white; height:140px;' class="col-md-3">
            <p>Stay Away (Really depends on other categories)</p>
          </div>
          <div style='background-color:#0a384a; color:white; height:140px;' class="col-md-2">
            <p>Red Flag(Every other category must be perfect for me to use)</p>
          </div>
          <br>
        </div>
        <br>
        <hr>
        <!-- <div class="row">
          <div class="col-md-12">
            <h3>How I use the table, and what columns I look at.</h3>
            <p>You have to look at everything collectively. The columns I mostly look at are ProjMins, Useage%, OvP, ProjTeamScore, Gameline, SalaryAdjust, RecentPerformance, PtsvsPos, and CriteriaRanking. After that I find the best combo of players and throw them in a line. The key to using this table is Trust the Process and HAVE NO BIAS OPINION!</p>

          </div>
          <div class="col-md-12">

          </div>
        </div> -->
        <br>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>RankingVsPosition</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>TotalOpportunities</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: <br> QB: Anything above 35<br> RB: Anything above 15<br> WR: Anything above 6<br> TE: Anything above 5<br> K: Anything above 3
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>TeamsOffenseVsPosition</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>WinVsOpponent%</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>Over/Under</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: The higher number the better. Except for Defense where it's the lower number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>CriteriaRanking</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: The lower number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>PointsPerAttempt</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
            <br>
            <p>What to look for: The higher number the better</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>SnapCount</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: How many minutes a player is projected to play</p>
              <br>
            <p>What to look for: The higher number the better</p>
            <p>Doesn't Include: Ignore Quarter Backs in this category</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>SalaryChange</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: Their last game salary compared to their current salary</p>
            <br>
            <p>What to look for: Anything 400 and below is in the clear. Above 400 is a red flag. - is equivalent to a 0 which is great</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>RecentPerformance</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: Their last game compared to their average </p>
            <br>
            <p>What to look for: Anything 10 and below is in the clear. Above 10 is a red flag. - is equivalent to a 0 which is great</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p><u>ProjOwnership</u></p>
          </div>
          <div class="col-md-8">
            <p>Description: Projections of High owned a player will be </p>
            <br>
            <p>What to look for: As low as possible for tournaments Higher for cash (chalk)</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
<div class="chatdivshow">
    <div id="sizer">
        <a class='closechat' href="#">x</a>
    </div>
    <div id="chatmessages"><br></div>
    <br>
    {{#if requser}}
    <div id="chatbar">
        <input placeholder="Start Typing" id="chatinput" />
        <button id='chatsend' type="button" class="btn btn-default btn-sm">Send</button>
    </div>
    {{/if}}

    {{#unless requser}}
    <div id="chatbar">
        <p><a style='color:#5600ff; font-size:18px;' href="/login/facebook">Click here to Login with fb and use the chat</a></p>
    </div>
    {{/unless}}
    <!-- <div id="swapzone"><input id="username" placeholder="Name"/>
        <button id='start' type="button" class="btn btn-default">Enter Chat</button>
    </div> -->
</div>
<script src='/assets/javascript/chatapp.js'></script>
<script type="text/javascript" src="/assets/tablesorter/jquery-latest.js"></script>
<script type="text/javascript" src="/assets/tablesorter/jquery.tablesorter.js"></script>
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-86407503-2', 'auto');
ga('send', 'pageview');
$(document).ready(function(){
  {
      $("table").tablesorter();
      $("#chatmessages").animate({ scrollTop: $(document).height() }, 1000);
  }
});
function myPositionFunctionNFL() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("mySelectedInputNFL");
  filter = input.value.toUpperCase();
  table = document.getElementById("NBAcheatsheet");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function mySearchFunctionNFL() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("mySearchInputNFL");
  filter = input.value.toUpperCase();
  table = document.getElementById("NBAcheatsheet");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{{#if requser}}
<script type="text/javascript">
setTimeout(function(){
  swal({
    title: "Donations are always welcome :)",
    text: "Our goal is to continue to give free data to all daily fantasy sports users! As this takes a lot of our time any donations are appreciated! Our paypal is dailyfantasysportsanalysts@gmail.com ",
    type: "success",
    confirmButtonText: "Ok, cool"
  });
}, 360000);
</script>
{{/if}}
{{#unless requser}}
<script type="text/javascript">
setTimeout(function(){
  swal({
    title: "View the Table Legend",
    text: "Please take a chance to look over the table legend. It will help you understand how to use this NBA FanDuel Cheat Sheet.<br><br> Please login if you would like to stop seeing these alerts",
    html: true,
    type: "warning",
    confirmButtonText: "Ok, cool"
  });
}, 10000);
</script>
{{/unless}}
